
<div class='home-page'>
  <h1>Welcome to Sitter Setter!</h1>
  <h4>Please Sign In to Continue</h4>
  <div class="home-button">
    <%= link_to 'Parent Sign In', new_parent_session_path %>
  </div>
  <div class="home-button">
    <%= link_to 'Sitter Sign In', new_sitter_session_path %>
  </div>
</div>
