<p>Calendar!</p>

<p>Signed in as: <%= @parent.email %></p>

<div>
Your babysitters:
<% if @sitters.empty?%>
<p>no sitters yet</p>
<% else %>
<%= @sitters.last.email %>
<% end %>
</div>

<%= link_to 'Add Sitters', @parent%>
