<h3>Add Sitters</h3>
<%= form_with(model: @parent, local: true) do |f| %>
  <%= hidden_field_tag :parent, @parent %>
  <%= f.select :sitter_ids, options_from_collection_for_select(Sitter.all, 'id', 'email') %>
  <%= f.submit "Assign"%>
<% end %>
