/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  animation: redtowhitetext 5s;
}

html {
  /*background: url("1.jpg") no-repeat center center fixed;*/
  background-size: cover;
}

/*Calendar Styling HERE*/

.simple-calendar {
  display: grid;
  margin: auto;
  padding-bottom: 30px
}

.calendar-heading {
  font-size: 20px;
  margin: auto;
  background-color: white
}
 .cal-day {
  display: inline-block;
  height: 110px;
  width: 110px;
  border: 1px solid black;
  margin: 0 auto;
  transition: background-color 1s;
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*line-height: 90px;*/
  padding: 5px;
  font-size: 15px;
  color: #A5A5AF;
}

.cal-day:hover {
  background-color: #77C9D4;
}

.table {
  background-color: white;
  font-size: 20px;
  margin: auto;
}

.current-day {
  border: 1px solid #015249;
}

.cal-grid {
  display: grid;
}

/*End Calendar Styling*/
