/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Cinzel|Dosis|Gloria+Hallelujah|Handlee');
* {
  font-family: 'Handlee', cursive;
  margin: 0;
	padding: 0;
	border: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  transform: rotate(8deg);
}

a:visited{
  color: black;
}

.notice {
  margin: 1em;
  text-align: center;
  font-size: 1.5em;
  color: #ce5656;
}

body {
  background: url("https://i.imgur.com/O4aiREJ.jpg");
}

ul {
  margin-left: 1vw;
  letter-spacing: 1px;
}

button {
  border-radius: 6px;
  font-size: 15pt;
  float: right;
  margin: 1vw;
  background-color: #1286b5;
  color: white;
  padding: 5px;
}

button:hover {
  /*text-decoration: underline;*/
  transform: scale(1.1);
}

.sign-in-page {
  text-align: center;
  border: 2px solid #1286b5;
  background: linear-gradient(grey, lightgrey);
  margin-left: 20%;
  margin-right: 20%;
  padding: 2em;
}

nav {
  margin: 1em;
  padding: 5px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em
}

.home-page {
  text-align: center;
}

.home-button {
  border: 1px solid black;
  margin: 3em;
  margin-left: 20%;
  margin-right: 20%;
  padding: 30px;
  background-color: lightgrey;
  font-size: 1.5em;
  transition: background-color 1s;
  font-family: 'Gloria Hallelujah', cursive;
}

.nav-elem {
  border: 1px solid black;
  margin-top: 15%;
  margin-bottom: 10%;
  padding: 15px;
  background-color: lightgrey;
  font-size: 1.5em;
  transition: background-color 1s;
  font-family: 'Gloria Hallelujah', cursive;
}

.nav-elem:hover {
  background-color: white;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right
}


/*Calendar index page*/

.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.simple-calendar {
  display: grid;
  margin: auto;
  padding-bottom: 30px;
}

.calendar-heading {
  font-size: 20px;
  margin: auto;
}
 .cal-day {
  display: grid;
  grid-auto-rows: minmax(15px, auto);
  /*grid-auto-columns: minmax(15px; auto);*/
  height: 110px;
  width: 110px;
  border: 1px solid black;
  margin: 0 auto;
  transition: background-color .5s, transform .5s;
  background: url("https://i.imgur.com/MSzhJaP.jpg") no-repeat;
  background-size: contain;
  background-color: white;
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*line-height: 90px;*/
  padding: 7px;
  font-size: .7em;
  color: black;
}

.current-day {
  color: yellow;
  font-size: 1em;
  text-shadow: 1px 1px 2px black;
}

.not-current-month {
  background-color: grey;
  background-image: none;
}

.cal-day:hover {
  background-color: #77C9D4;
  transform: scale(1.4);
}

.table {
  /*background-color: white;*/
  font-size: 20px;
  margin: auto;
}

@keyframes rotating {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.rotating {
  animation: rotating 8s linear infinite;
}

.open {
  background-color: #a7efbe;
  border: 1px solid black;
  font-size: .45em;
  padding: 2px;
  margin: 2px;
  /*white-space: nowrap;*/
  text-overflow: clip;
  display: block;
  overflow: scroll;
}

.taken {
  background-color: #ce5656;
  border: 1px solid black;
  font-size: .45em;
  padding: 2px;
  margin: 2px;
  /*white-space: nowrap;*/
  text-overflow: clip;
  display: block;
  overflow: scroll;
}

.gig-status {
  font-size: 1em;
}

.babysitting-actions {
  text-align: center;
  display: grid;
  grid-template-columns: 250px;
  text-overflow: ellipsis;
  margin-top: 22vh;
}

.sitter-box {
  display: inline;
}

.client-box{
  background-color: #4293d1;
  padding: 1em;
  margin: 2em;
  border: 1px solid black;
  display: grid;
  font-family: 'Gloria Hallelujah', cursive;
}

.babysitter-list{
  display: grid;
  margin: 2vw;
  grid-gap: 1em;
  grid-template-columns: repeat(2,1fr);
  font-family: 'Gloria Hallelujah', cursive;
}

.sitter-list-email {
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: .2em;
  transition: color .5s, transform .5s
}

.sitter-list-email:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: lightgrey;
}

.submit-button {
  background-color: lightgrey;
  padding: 10px;
  margin: 2px;
  border-radius: 7px;
  font-size: 10pt;
  text-align: center;
}

.submit-button:hover {
  transform: scale(1.1);
}

.taken-by-you {
  background-color: #c40f64;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  /*white-space: nowrap;*/
  text-overflow: clip;
  display: block;
  overflow: scroll;
}

.parent-emails {
  /*border: 1px solid black;*/
  text-align: center;
  margin: 0 auto;
}

.parent-emails:hover {
  text-decoration: none;
  transform: scale(1.1)
}

/*parent index page*/

.parent-index {

}

/*parent show page*/

.parent-show {
  display: grid;
  margin: 2vw;
  grid-gap: 1em;
  grid-template-columns: repeat(2,1fr);
}

.parent-show-profile-info {
  padding: 1em;
}

.show-sitter-form {
  margin-left: 10vw;
  margin-right: 10vw;
  border: 2px solid #1286b5;
  background-color: lightgrey;
  padding: 25px;
  text-align: center;
  font-size: 1.5em;
}

.parent-show-sitter-form {

}

/*sitter index page*/

.sitter-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em
}

.sitter-info {

}

.text-area {
  border: 1px solid yellow;
}

.remove-sitter-option {
  margin-right: 1.2vw
}

.remove-button {
  background-color: #ce5656;
  padding: 10px;
  border-radius: 5px;
  font-size: 10pt
}

.requested-sitters {
  border: 2px solid #1286b5;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

.request-form {
  border: 2px solid #1286b5;
  padding: 10px;
  margin-right: 10px;
}

.note-list {
  margin: 1em;
}

.remove-note {
  color: #ce5656;
}

/*sitter show page*/

.sitter-show {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  margin: 1em;
}

.request {
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
  font-weight: bolder;
  opacity: .9;
}


/*gig show page*/

.gig-show {
  margin-bottom: 1em;
}

.gig-info {

}

.gig-info-items {
  background-color: lightgrey;
  padding: 1em;
  margin-right: 60%;
  text-align: center;
  border: 1px solid black;
  margin-left: 3%;
}

.status {
  margin-right: 75vw;
  padding: 1em;
}

/*new gig page*/

#gig-new {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr)
}

.new-gig {
  padding: 3.5em;
  background-color: #9ebced;
  border-radius: 20px;
  margin-bottom: 1em;
}

/*request show*/

.request-show {
  text-align: center;
  border: 2px solid #1286b5;
  padding: 2em;
  margin: 1em;
}

.accept-request {
  background-color: #a7efbe;
  padding: 1em;
}
.deny-request {
  background-color: #ce5656;
  padding: 1em;
}
