/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

 * {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:visited{
  color: black;
}

body {
  /*background: url("baby.jpg") no-repeat;*/
  background-size: cover;
  background-size: contain;
}

h3, h5 {
  margin-left: 1vw;
}

button {
  border-radius: 6px;
  font-size: 15pt;
  float: right;
  margin: 1vw;
  background-color: lightblue;
  color: white;
  padding: 5px;
}

div {
  margin-left: 1vw;
}

nav {
  border: 6px solid lightblue;
  margin: 1em;
  padding: 5px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em
}

.nav-elem {
  border: 1px solid black;
  margin-top: 15%;
  margin-bottom: 10%;
  padding: 15px;
  background-color: lightgrey;
  font-size: 1.5em;
  transition: background-color 1s;
  font-family: 'Permanent Marker', cursive;
}

.nav-elem:hover {
  background-color: white;
}

.left {
  float: left;
}

.right {
  float: right
}

.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.babysitting-buttons {
  text-align: center;
  display: grid;
  text-overflow: ellipsis;
  margin-top: 22vh;
}

.new-babysitter {
  padding: 3em;
  background-color: pink;
  border: 1px solid pink;
  border-radius: 4px;
  transition: background-color 1s;
}

.new-babysitter:hover {
  background-color: white;
}

/*Calendar Styling HERE*/

.simple-calendar {
  display: grid;
  margin: auto;
  padding-bottom: 30px;
}

.calendar-heading {
  font-size: 20px;
  margin: auto;
}
 .cal-day {
  display: grid;
  grid-auto-rows: minmax(15px, auto);
  grid-auto-columns: minmax(15px; auto);
  height: 110px;
  width: 110px;
  border: 1px solid black;
  margin: 0 auto;
  transition: background-color 1s;
  /*background: url("baby.png") no-repeat;*/
  /*background-size: cover;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*line-height: 90px;*/
  padding: 7px;
  font-size: .7em;
  color: black;
}

.cal-day:hover {
  background-color: #77C9D4;
}

.table {
  background-color: white;
  font-size: 20px;
  margin: auto;
}

.current-day {
  border: 1px solid #015249;
}

.sitter-box {
  display: inline;
}
/*
.cal-grid {
  display: grid;
}*/

.open {
  background-color: #a7efbe;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}

.taken {
  background-color: #ce5656;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}

.babysitter-list{
  display: grid;
  margin: 2vw;
  grid-gap: 1em;
  grid-template-columns: repeat(3,1fr)
}

@keyframes wobble {
  0% {}
  25% {}
  50% {}
  100% {}
}

.sitter-list-email:hover {
  animation: wobble
}

.parent-show-sitter-form {
  margin-left: 1vw;
}

.submit-button {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 7px;
  font-size: 10pt
}

.client-box{
  background-color: lightblue;
  padding: 1em;
  margin: 2em;
  border: 1px solid black;
  display: grid;
}

.sitter-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em
}

.sitter-info {

}

.remove-button {
  background-color: #ce5656;
  padding: 10px;
  border-radius: 5px;
  font-size: 10pt
}

.requested-sitters {
  border: 2px solid lightblue;
  padding-top: 25px;
  text-align: center;
}

.request-form {
  border: 2px solid lightblue;
  padding: 10px;
  margin-right: 10px;
}

.remove-sitter-option {
  margin-right: 1.2vw
}

/*gig show page*/

.status {
  margin-right: 75vw;
  padding: 1em;
}

/*new gig page*/

#gig-new {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr)
}

.new-gig {
  background: url("cover.png") no-repeat;
  background-size: cover;
  padding: 3.5em;
}
